<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Razor Car</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.css" />
</head>
<body>
    <header>
       
        <nav class="white top-nav">
            <div class="nav-wrapper">                
                <a href="#" class="brand-logo"><img class="image-logo" src="http://s18.postimg.org/7yjt4kajd/Razor_Cars_Logo.jpg" /></a>
                <div class="col s12 topNavInner top-right-nav right" style="margin-right: 100px;">
                    <ul class="image-logo">
                        @*<li class="deviderright hide-on-small-only waves-effect waves-light"><a rel="nofollow" href="http://rdxsports.com/trade-inquiries/"><i class="left small mdi-social-group iconpoint"></i>Trade Inquiry</a></li>*@
                        @*<li class="deviderright waves-effect waves-light grey btn"><a rel="nofollow" href="javascript:;" class="login-btn notlogin "><i class="left small mdi-action-lock iconpoint"></i>Login</a></li>*@
                        @*<li class="deviderright waves-effect waves-light red btn"><a rel="nofollow" href="javascript:;" class="login-btn notlogin"><i class="left small mdi-action-lock iconpoint"></i>Sign Up</a>></li>*@
                        <li><a style="color:black">Rent</a></li>
                        <li><a style="color:black">Buy</a></li>
                        <li><a style="color:black">Location</a>></li>
                        <li><a style="color:black">Business Rentals</a></li>
                        <li><a style="color:black">Customer Support</a></li>
                        <li><a style="color:black">About</a></li>

                    </ul>
                </div>
            </div>
        </nav>
        <div class="slider" style="position: relative">
            <ul class="slides">
                <li>
                    @*<img id="slide-image" src="http://s16.postimg.org/puoo2hiol/Holding_car.png" />*@ <!-- random image -->
                    @*<img style="position: absolute;" src="http://7-themes.com/data_images/out/14/6813798-toy-car-wallpaper.jpg"/>*@

                    @*<img src="http://7-themes.com/data_images/out/39/6901993-toy-car-wallpaper.jpg"/>*@

                    <img src="http://eskipaper.com/images/toy-miniature-car-1.jpg" />

                    <div class="caption left-align">
                        <div style="position: absolute; background-color: white; height: 450px; width: 500px; border-radius: 10px; margin-left: -100px; margin-top: -50px;" id="pic-form">
                            @*@Html.Partial("_ReservationFormPartial")*@
                            <form style="margin: 50px;">
                                <div class="form-label" style="margin-top: 25px; margin-left: 20px; margin-right: 20px; color: black;">
                                    <h5>Make A Reservation</h5>

                                </div>
                                <div class="input-field">
                                    <input id="location-input" type="text" size="50" class="browser-default" autocomplete="on" style="color: black ">
                                </div>
                                <div class="input-field">
                                    <input type="date" id="datepicker-rental" style="color: black">
                                </div>
                                <div class="input-field">
                                    <input type="date" id="datepicker-return" style="color: black">
                                </div>
                                <label>Age</label>
                                <select class="browser-default" style="color: black">
                                    <option value="" disabled selected style="color: black ">Select Your Age</option>
                                    @for (int i = 25; i <= 75; i++)
                                    {
                                        <option value="@i" style="color: black">@i</option>
                                    }
                                </select>
                                @Html.ActionLink("Continue", "ContinueReservation", "Inventories")
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <div class="col s12 m8 l9">
            <div class="container body-content">
                @RenderBody()
            </div>
        </div>
    </main>
    <footer class="page-footer #424242 grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="black-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="black-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <p>&copy; @DateTime.Now.Year - Razor Cars</p>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.js"></script>
    @RenderSection("scripts", required: false)
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB_vXSlQ4rcQrl3GEE5PDqWRe7rJbGXC0&libraries=places"></script>
    <script src="//jashkenas.github.io/underscore/underscore-min.js"></script>
    <script>
        function initialize() {
            var input = document.getElementById('location-input');

            // Create the autocomplete helper, and associate it with
            // an HTML text input box.
            var autocomplete = new google.maps.places.Autocomplete(input);
            var infowindow = new google.maps.InfoWindow();

            // Get the full place details when the user selects a place from the
            // list of suggestions.
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                //infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + 'Place ID: ' + place.place_id + '<br>' + place.formatted_address + '</div>');
                infowindow.open(this);
            })
            var lat = 0;
            var long = 0;

            $.ajax({
                url: "https://maps.googleapis.com/maps/api/geocode/json?address="+autocomplete+"+&key=AIzaSyAhXmpctyyUztVtePvMKjrrpw5PQ8e7Gt8",
                method: "GET"
            }).done(function (data) {
                $(this).addClass("done");
            });
        }
        // Run the initialize function when the window has finished loading.
        google.maps.event.addDomListener(window, 'load', initialize);

        // Initialize collapsible
        $('.collapsible').collapsible();

        $(".dropdown-button").dropdown();

        // Login box activation
        $('.login-btn').click(function () {
            /* Act on the event */
            $('.login-btn').toggleClass('active');
            $('.login-box').slideToggle();
        });


        $(function () {
            $("#datepicker-rental   ").datepicker();
        });

        $(function () {
            $("#datepicker-return").datepicker();
        });

        $('.slider').slider({ full_width: true });

        $('body').scrollspy({ target: ".navbar" });

        // Add smooth scrolling to all links inside a navbar
        $("#myNavbar a").click(function (event) {

            // Prevent default anchor click behavior
            event.preventDefault();

            // Store hash (#)
            var hash = this.hash;

            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area (the speed of the animation)
            $('html, body').animate({
                scrollTop: $(hash).offset().top
            }, 800, function () {

                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
            });
        });
    </script>
</body>
</html>
