<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Razor Car</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.css" />
</head>
@using Microsoft.AspNet.Identity
<body>
    <header>
        <div class="navbar topGreyNav">
            <nav class="white lighten-1 topNav">
                <div class="nav-wrapper">
                    @*<div class="col s12 topNavInner left">
                        <ul class="hide-on-med-and-down  phonenumber left">
                            <li class="callnum"><a href="tel:+1 844 739 8326"> <i class="left small mdi-communication-call iconpoint"></i>+1 844 739 8326</a></li>
                        </ul>
                    </div>*@

                    <div class="col s12 topNavInner top-right-nav right">
                        <ul class="phonenumber">
                            @*<li class="deviderright hide-on-small-only waves-effect waves-light"><a rel="nofollow" href="http://rdxsports.com/trade-inquiries/"><i class="left small mdi-social-group iconpoint"></i>Trade Inquiry</a></li>*@
                            <li class="deviderright hide-on-small-only waves-effect waves-light ">@*<a href="http://rdxsports.com/contact-us" data-elevio-module="articles" class="borderb0">*@<i class="left small mdi-action-help iconpoint"></i>About Us</a></li>
                            <li class="deviderright waves-effect waves-light"><a rel="nofollow" href="javascript:;" class="login-btn notlogin"><i class="left small mdi-action-lock iconpoint"></i>Login</a></li>
                            @*<li class="deviderright hide-on-small-only waves-effect waves-light"><!--a href="http://rdxsports.com/change-country/?country=resetall"--><a href="javascript:;" onclick="changelangnew()" id="changelangnew">USD $ </a></li>*@
                            @if (Request.IsAuthenticated)
                            {
                                <li class="deviderright waves-effect waves-light">@User.Identity.GetUserName()</li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Top login drop down box -->
        <div class="nav-wrapper login-box white-text" style="display:none;">
            <div class="row">

                <!-- login box inner first -->
                <div class="col s12 m12 l4 center hide-on-med-and-down">
                    <h4>Don't have Account..?</h4>
                    <div class="sign-up-btn">
                        @*<a class="waves-effect grey darken-4 waves-light btn" href="https://rdxsports.com/customer/account/login/">Create Account</a>*@
                        @Html.ActionLink("Create Account", "Register", "Account", htmlAttributes: new { @class = "waves-effect grey darken-4 waves-light btn" })
                    </div>
                </div>


                <!-- login box inner third -->
                <div class="col s12 m12 l4 center">
                    <h4>Already Registered..?</h4>
                    <div class="login-form">
                        @Html.Partial("_LoginPartial")
                        @*<form action="https://rdxsports.com/customer/account/loginPost/" method="post" id="login-form">
                                <input name="form_key" type="hidden" value="c73fcHzhGNWlgg8Y" />
                                <!-- Email for login -->
                                <div class="input-field form-mini-login col s12">
                                    <i class="mdi-communication-email prefix"></i>
                                    <input autocomplete="off" type="text" name="login[username]" value="" id="email" class="mini-form-text-input grey-text text-darken-4 validate input-text required-entry validate-email" title="Email Address" />
                                    <label for="email">Email Address</label>
                                </div>
                                <!-- Password for login -->
                                <div class="input-field form-mini-login col s12">
                                    <i class="mdi-communication-vpn-key prefix"></i>
                                    <input autocomplete="off" type="password" name="login[password]" class="password-field-pl input-text required-entry validate-password mini-form-text-input grey-text text-darken-4" id="pass" title="Password" />
                                    <label for="pass">Password</label>
                                </div>
                                <div class="buttons-set right">
                                    <a href="https://rdxsports.com/customer/account/forgotpassword/?easy_ajax=1" class="f-left white-text">Forgot Your Password?</a>
                                    <button type="submit" class="waves-effect waves-light btn red accent-4" title="Login" name="send" id="send2"><span><span>Login</span></span></button>
                                </div>
                            </form>*@
                    </div>
                </div>

                <div class="divider hide-on-large-only"></div>

                <!-- login box inner first -->
                <div class="col s12 m12 l4 center hide-on-large-only">
                    <h4>Don't have Account..?</h4>
                    <div class="sign-up-btn">
                        @*<a class="waves-effect grey darken-4 waves-light btn" href="https://rdxsports.com/customer/account/login/">Create Account</a>*@
                        @Html.ActionLink("Create Account", "Register", "Account", htmlAttributes: new { @class = "waves-effect grey darken-4 waves-light btn" })

                    </div>
                </div>

            </div>
        </div>

        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="https://i.ytimg.com/vi/x88swir-yGU/maxresdefault.jpg"> <!-- random image -->
                    <div class="caption center-align">
                        <h1>Toy Cars For Rent</h1>
                        @*<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>*@
                    </div>
                </li>
            </ul>
        </div>

        @*<div class= "navbar-fixed">
                <nav class='red accent-4' role="navigation">
                    <div class="nav-wrapper container ">
                        @Html.ActionLink("Razor Cars", "Home", "Index", htmlAttributes: new { @class = "brand-logo", id = "logo-container" })
                        <ul class="right hide-on-med-and-down">
                            <li>Car Collection</li>
                            <li>Rentals</li>
                            <li>Rentals</li>
                                <li>Rentals</li>
                                <li>Rentals</li>

                        </ul>
                    </div>
                </nav>
            </div>*@
    </header>
    <main>
        <div class="col s12 m8 l9">
            <div class="container body-content">
                @RenderBody()
                <hr />
            </div>
        </div>
    </main>

    <footer class="page-footer #d50000 red accent-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p>&copy; @DateTime.Now.Year - Razor Cars</p>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.js"></script>
    @RenderSection("scripts", required: false)

    <script>
        // Initialize collapsible
        $('.collapsible').collapsible();

        $(".dropdown-button").dropdown();
    </script>
</body>

</html>
