@model RazorCars.Web.Models.InventoryVM

@{
    ViewBag.Title = "RentalHistory";
}


<div>
    <h4>InventoryVM</h4>
    <hr />
    <dl class="dl-horizontal">
        

        <dt>
            @Html.DisplayNameFor(model => model.TotalStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableStock)
        </dd>

        
    </dl>
</div>

@Html.ActionLink("Rent This Car", "RentCar", "Inventories", new { inventoryid = Model.Id}, htmlAttributes: new { @class = "rent-car" })



@Html.Partial("RentalHistoryDetail", Model.Histories)

@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@

@section scripts{
    <script>
        $('.return-car').click(function () {
            $(this).html("Car Returned!");
        })

        $('.rent-car').click(function () {
            $(this).html("You Have Rented This Car!");
        })
    </script>
    }