@model RazorCars.Web.Models.InventoryVM

@{
    ViewBag.Title = "RentalHistory";
}


<h1>@Model.Make @Model.Model @Model.Year</h1>
<ul class="card-list">
    <li class="card-list__item">
        <div>
            <h5>@Model.TotalStock Total Cars In Stock</h5>
            <h5>@Model.AvailableStock Cars Available For Rent</h5>
        </div>

        <div class="rental-history">
            @Html.Partial("RentalHistoryDetail", Model.Histories)
        </div>
    </li>
    <li class="card-list__item">
        <div class="row-card">
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">                    
                    <div class="card-content white-text">
                        <div class="card-image">
                            <img src="http://pictures.dealer.com/g/gillmanhondafortbend/1000/80f77f5d79d2c09693524a46447c7936x.jpg" />
                        </div>
                        <h4 class="card-title">@Model.Make @Model.Model @Model.Year</h4>
                        <p>
                            Rent this beautiful, illustrious Honda Accord.
                        </p>
                    </div>
                    <div class="card-action">
                        @Html.ActionLink("Rent This Car", "RentCar", "Inventories", new { inventoryid = Model.Id }, htmlAttributes: new { @class = "waves-effect waves-light btn" })

                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>

